{%  extends "@IbexaCore/content_fields.html.twig"  %}
{% block formIoURL_field %}
{#    Hello <b>{{ field.value.getName() }}!</b>#}
{#    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.full.min.css">#}
{#        <script src="https://cdn.form.io/formiojs/formio.full.min.js"></script>#}
{#        <script src="{{ asset('bundles/formIOBundle/Resources/public/js/formio-validation.js') }}"></script>#}
{#        <script type="text/javascript">#}
{#            window.onload = function() {#}
{#                const formio1 = document.getElementById('formio1');#}
{#                let url = formio1.getAttribute("url-data");#}
{#                Formio.createForm(formio1, url);#}
{#            };#}
{#        </script>#}
{#        {% apply spaceless %}#}

{#                <div id="formio1" url-data="https://iqhzlojhdyfegik.form.io/testatlmes"></div>#}

{#        {% endapply %}#}
{% endblock %}