{%  extends '@IbexaCore/content_fields.html.twig'  %}
{% block ezurl_field %}
    {% if field.fieldDefIdentifier == 'formio_url'%}
        {% block stylesheets %}
            {{ include('@ibexadesign/formIOBundle/includes/stylesheets.html.twig') }}
        {% endblock %}
        {% apply spaceless %}
            {% if not ibexa_field_is_empty( content, field ) %}
                <div id="formio" url-data="{{ibexa_field_value(content, 'formio_url')}}"></div>
            {% endif %}
        {% endapply %}
        {% block javascripts %}
            {{ include('@ibexadesign/formIOBundle/includes/javascripts.html.twig') }}
        {% endblock %}
    {% else %}
        {{parent() }}
    {% endif %}
{% endblock %}